{% extends 'Base.html' %}
{% block title %}Add Employee {% endblock %}
{% block linkTitle %}Employees / Add Employee {% endblock %}
{% block body %}
    <form class="needs-validation" method="POST" action="" novalidate>
        {% csrf_token %}
        <div class="card-block">
            <div class="form-group row">
                <div class="col-md-5">
                    <label class="required" for="employee_name"><strong>Name</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon bg-dark icofont-user style"></span>
                        <input type="text" class="form-control style" name="employee_name" id="employee_name"
                               placeholder="Enter Your Employee Name" required>
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="email"><strong>Email</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon bg-dark icofont-email style"></span>
                        <input type="email" class="form-control style" name="email" id="email"
                               placeholder="Enter Employee Email Address">
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="required" for="mob_no"><strong>Mobile No.</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon bg-dark icofont-phone style"></span>
                        <input type="text" class="form-control style" data-inputmask="'mask': '0399-99999999'"
                               name="mob_no" id="mob_no" maxlength="12" required>
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="required" for="cnic"><strong>CNIC No.</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon bg-dark icofont-id-card style"></span>
                        <input type="text" class="form-control style" data-inputmask="'mask': '99999-9999999-9'"
                               placeholder="XXXXX-XXXXXXX-X" name="cnic" id="cnic" required>
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="required" for="role"><strong>Role</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon bg-dark icofont-label style"></span>
                        <select class="form-control style p-10" style="height: 52px;" name="role" id="role" required>
                            <option value="">Select A Role For Employee</option>
                            <option value="Manager">Manager</option>
                            <option value="Sale Man">Sale Man</option>
                            <option value="Watch Man">Watch Man</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="required" for="salary"><strong>Monthly Salary Rs.</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon bg-dark icofont-money style"></span>
                        <input type="number" class="form-control style" name="salary" id="salary"
                               placeholder="Enter Monthly Salary of Employee" required>
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="required" for="date"><strong>Date Of Join</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon bg-dark icofont-calendar style"></span>
                        <input type="date" class="form-control style" name="doj" id="date" required>
                    </div>
                </div>
                <div class="col-md-5">
                    <label class="required" for="res_address"><strong>Resident Address</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon bg-dark icofont-ui-email style"></span>
                        <input type="text" class="form-control style" name="res_address" id="res_address"
                               placeholder="Enter Your Employee Resident Address" required>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center col-10 mt-3">
                <button style="padding: 12px" type="submit" class="btn btn-outline-success btn-round cardStyling">Add
                    Employee
                </button>
            </div>
        </div>
        <script>
            $(":input").inputmask();
        </script>
    </form>
{% endblock %}