<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Recover Password | PFSMS</title>
    <link href="{% static "/resources/css/google_fonts.css" %}" rel="stylesheet">
    <link rel="icon" type="image/icon" href="{% static "/resources/images/favicon.ico" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "/resources/css/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/resources/icon/icofont/icofont.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/resources/css/style.css" %}">
    <style>
        .style {
            padding: 15px;
            border: 2px solid #be85f2;
            border-radius: 10px;
        }

        .animate {
            -webkit-animation: animatezoom 2s;
        }

        @-webkit-keyframes animatezoom {
            from {
                -webkit-transform: scale(0)
            }
            to {
                -webkit-transform: scale(1)
            }
        }

        .cardStyling {
            box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.4);
        }
    </style>
</head>

<body class="fix-menu">
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>
<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-card card-block auth-body mr-auto ml-auto">
                    <form class="md-float-material needs-validation animate" method="POST" action="" novalidate>
                        {% csrf_token %}
                        <div class="text-center">
                            <img src="{% static 'resources/images/Login.png' %}" alt="Logo">
                        </div>
                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">Recover Password</h3>
                                    {% if messages %}
                                        <hr/>
                                        {% for message in messages %}
                                            <div style="font-size: 15px; border-radius: 25px; font-family: 'Times New Roman',serif"
                                                 class="text-center alert alert-{{ message.tags }}" role="alert">
                                                <b>{{ message }}</b></div>
                                        {% endfor %}
                                    {% endif %}
                                    <hr/>
                                </div>
                            </div>
                            <div class="input-group mt-lg-5">
                                <span class="input-group-addon bg-dark style"><i
                                        class="icofont-user-alt-3"></i></span>
                                <input type="text" class="form-control style" name="username"
                                       placeholder="Username Or Email Address" required>
                            </div>
                            <div class="text-right mt-2 font-weight-bold">
                                <p><a href="{% url "Login" %}" class="text-underline">Back To Login</a></p>
                            </div>
                            <div class="row m-t-30 mt-lg-5">
                                <div class="col-md-12">
                                    <button type="submit"
                                            class="hor-grd btn btn-grd-danger btn-round btn-md btn-block text-center cardStyling">
                                        Recover Password
                                    </button>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12 mt-lg-5">
                                    <p class="text-dark font-weight-bold" id="Footer"></p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="{% static "/resources/js/jquery/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "/resources/js/popper.js/popper.min.js" %}"></script>
<script type="text/javascript" src="{% static "/resources/js/bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "/resources/js/customScript.js" %}"></script>
<script type="text/javascript" src="{% static "/resources/js/common-pages.js" %}"></script>
</body>
</html>